.depoimentos {
  @media (max-width: 768px) {
    padding: 0;
  }
  .container--flex {
    flex-direction: row;
    @media (max-width: 640px) {
      flex-direction: column;
    }
  }
  &__titulo {
    font-size: 30px;
    font-weight: 700;
    color: #c63a95;
    text-align: center;
  }
  &__quadro {
    width: 50%;
    padding: 20px 10px 20px 0;
    @media (max-width: 768px) {
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
    }
    &:last-child {
      padding: 20px 0 20px 10px;
      @media (max-width: 768px) {
        width: 100%;
        padding: 0;
      }
    }
  }
  &__conteudo {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    background: #6b207e;
    border-radius: 14px;
    padding: 20px;
  }
  &__texto {
    color: #fff;
    text-align: center;
    font-size: 20px;
  }
  &__nome {
    font-size: 16px;
    font-weight: 700;
    color: #FDC978;
    text-align: center;
  }
}