.card-portfolio {
  width: 100%;
  height: auto;
  background: #dfdfdf;
  cursor: pointer;
  &__imagem {
    width: 100%;
  }
  &__conteudo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(107, 32, 126, .75);
    opacity: 0;
    transition: all .5s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  &__texto {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
  }
}
.swiper-button-next,
.swiper-button-prev {
  background: #FDC978;
  border-radius: 100%;
  width: 53px;
  height: 53px;
  color: #6B207E;
  margin-top: 0;
  top: 10px;
  transition: all .3s ease-in-out;
  &:hover {
    background: #e5a33c;
  }
  &:after {
    font-size: 19px;
    font-weight: 700;
  }
}
.modal-portfolio {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  &__conteudo {
    width: 100%;
    max-height: 80vh;
    max-width: 774px;
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    position: relative;
    overflow-y: auto;
    img {
      position: relative;
      display: block;
      margin: 0 auto 20px auto;
    }
  }
  &__imagem {
    max-width: 100%;
    margin: 0 auto 15px auto;
    position: relative;
  }
  &__titulo {
    font-size: 22px;
    font-weight: 700;
    color: #c63a95;
  }
  &__subtitulo {
    font-size: 15px;
    font-weight: 400;
    color: #505050;
  }
  &__fechar {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    width: 40px;
    height: 40px;
    border: 0;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:active, &:focus {
      outline: none;
    }
    img {
      margin: 0;
    }
  }
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 15px
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}