.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  &__conteudo {
    width: 100%;
    max-width: 1050px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
  }
}